# pixi environments
.pixi/*
!.pixi/config.toml

output
.vscode
__pycache__
.mypy_cache
.piix
output
.vscode
__pycache__
.mypy_cache
.piix

_result
home
archive.tar
__result
Results
titanfuzz-results-1.tar.gz
titanfuzz-results-2.tar.gz
